################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/bin/Debug/net9.0
/CodeQuest.csproj
/CodeQuest.sln
